
<div class="container py-24 mx-auto ml-72">

  <div class="flex flex-wrap -mx-4 -mb-10 text-center">

    <div class="sm:w-1/2 mb-10 px-4">
      <div class="rounded-lg h-96 overflow-hidden">
        <div class="border-4 border-dashed border-gray-300 rounded-lg h-96">
          <main class="w-full overflow-y-auto">
            <div class="px-10 grid grid-cols-3 gap-3">
              <div *ngFor="let searchedPlayer of playersListData['0']['player']">
                <app-player-card playerName="{{ searchedPlayer.strPlayer }}" playerDesc="{{ searchedPlayer.strDescriptionEN }}"
                  playerImage="{{ searchedPlayer.strThumb }}" playerTeam="{{ searchedPlayer.strTeam }}"></app-player-card>
              </div>
            </div>
          </main>
        </div>
      </div>

      <form class="mt-5">
        <div class="max-w-2xl mx-auto">
          <form>
            <label for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
            <div class="relative">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </div>
              <input type="search" id="default-search" [formControl]="searchPlayersByNameInput" [(ngModel)]="currentPlayerNameToSearch" placeholder="Nom du joueur"
                class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Recherchez un joueur par son nom/prénom..." required>
              <button type="submit" (click)="searchPlayersByName()"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
          </form>
        </div>
      </form>

    </div>

    <!-- Player in favorite -->
    <div class="sm:w-1/2 mb-10 px-4">
      <div class="rounded-lg h-96 overflow-hidden">
        <div class="border-4 border-dashed border-gray-300 rounded-lg h-96 overflow-auto">
          <main class="w-full overflow-y-auto">
            <div class="px-10 grid grid-cols-3 gap-3">
              <div *ngFor="let player of favoritesList">
                <app-player-card playerName="{{ player['players'][0].strPlayer }}" playerDesc="{{ player['players'][0].strDescriptionEN }}"
                  playerImage="{{ player['players'][0].strThumb }}" playerTeam="{{ player['players'][0].strTeam }}"></app-player-card>
              </div>
            </div>
            
          </main>
        </div>
      </div>

      <form class="mt-5">
        <div class="max-w-2xl mx-auto">
          <form>
            <label for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
            <div class="relative">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </div>
              <input type="search" id="default-search" [formControl]="searchPlayersByNameInput" [(ngModel)]="currentPlayerNameToSearch" placeholder="Nom du joueur"
                class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Recherchez un joueur dans vos favoris..." required>
              <button type="submit" (click)="searchFavoriteByName(currentPlayerNameToSearch)"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
          </form>
        </div>
      </form>
    </div>
</div>