<!-- Form starts -->
<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
  <!-- Gender -->
  <div class="grid grid-cols-4 h-24">
    <div>
      <input id="team1" type="radio" class="custom-control-input" name="bet" value="team1">

      <label class="custom-control-label truncate" for="team1">{{ equipe1 }} </label>
      
    </div>
    <p class="text-gray-600 font-bold">VS</p>
    <div>
      <input id="team2" type="radio" class="custom-control-input" name="bet" value="team2" >
      <label class="custom-control-label" for="team2">{{ equipe2 }} </label>
    </div>
    <div>
      <p> Prévu le: {{ date }}</p>
    </div>
    <div *ngIf="isSubmitted && myForm.invalid">
      <p>Please select either value</p>
    </div>
    <!-- Submit Button -->
    <button type="submit"
      class="rounded-lg text-fuchsia-500 font-bold bg-fuchsia-100 py-1 px-3 text-sm w-fit h-fit">Submit</button>

  </div>
</form><!-- Form ends -->