<div class="flex bg-white lg:ml-8">

  <!-- Card 2 -->
  <a href="#">

    <div class="grid grid-cols-6 p-5 gap-y-2">

      <!-- Description -->
      <div class="col-span-5 md:col-span-4 ml-4">

        <p class="text-sky-500 font-bold text-xs"> 7+ SPOTS LEFT </p>

        <p class="text-gray-600 font-bold"> [Beginner] Light Discussion </p>

        <p class="text-gray-400"> Fri, Mar 11 . 8:00 - 9:30 AM </p>

        <p class="text-gray-400"> Beginner speakers </p>

      </div>

      <!-- Price -->
      <div class="flex lg:ml-3 md:col-start-auto md:ml-0 md:justify-end">
        <p class="rounded-lg text-sky-500 font-bold bg-sky-100 py-1 px-3 text-sm w-fit h-fit"> FREE </p>
      </div>

    </div>

  </a>

</div>
