<div class="flex bg-gray-800 lg:ml-8">

  <!-- Card 2 -->
  <a href="#">

    <div class="grid grid-cols-6 p-5 gap-y-2">

      <!-- Description -->
      <div class="col-span-5 md:col-span-4 ml-4">

        <p class="text-fuchsia-900 font-bold text-xs"> {{ utcDate | date:'dd/MM/yyyy hh:mm z' }} </p>

        <p class="text-gray-600 font-bold"> {{ team1 }} vs {{ team2 }} </p>

        <p class="text-gray-400"> Blablabla </p>

        <p class="text-gray-400"> Blablabla </p>

      </div>

      <!-- Price -->x
      <div class="flex lg:ml-3 md:col-start-auto md:ml-0 md:justify-end">
        <p class="rounded-lg text-fuchsia-500 font-bold bg-fuchsia-100 py-1 px-3 text-sm w-fit h-fit"> Score </p>
      </div>

    </div>

  </a>

</div>
