<!-- Form starts -->
<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
  <!-- Gender -->
  <div class="grid-cols-3">
  <div>
     <input id="team1" type="radio" class="custom-control-input" value=" {{team1}} " name="bet" [(ngModel)]="testTeam1">
     <label class="custom-control-label" for="team1">{{team1}}</label>
  </div>
  <div>
     <input id="team2" type="radio" class="custom-control-input" value="{{team2}}" name="bet"  [(ngModel)]="testTeam2">
     <label class="custom-control-label" for="team2">{{team2}}</label>
  </div>
  <div *ngIf= "isSubmitted && myForm.invalid" >
     <p>Please select either value</p>
  </div>
  <!-- Submit Button -->
  <button type="submit" class="rounded-lg text-fuchsia-500 font-bold bg-fuchsia-100 py-1 px-3 text-sm w-fit h-fit">Submit</button>

</div>
</form><!-- Form ends -->