/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background:  #b663a6;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #66697a;
}
::-webkit-scrollbar-thumb:active {
  background: #787887;
}
::-webkit-scrollbar-track {
  background: #583952;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #c692c8;
}
::-webkit-scrollbar-track:active {
  background: #b18ca9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}